<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>
<h1>Login Form</h1>

<form th:action="@{/login}" th:object="${loginForm"} method="post">
<label for="username">User</label>
<input type="text" id="username" name="username" autofocus="autofocus"/>

<label for="password">password</label>
<input type="password" id="password" name="password" />
</br>
<input type="submit" value="Log In"/>

</form>

</body>
</html>